<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {{#block "meta"}}
        {{sub "layout/meta"}}
    {{/block}}
    {{!-- <title>{{title}}</title> --}}
    {{#block "css"}}
        {{sub "layout/css"}}
    {{/block}}
    {{!-- {{#block "topjs"}}
        {{sub "layout/topjs"}}
    {{/block}} --}}
</head>
<body>

{{#block "header"}}
    {{sub "layout/header"}}
{{/block}}
{{#block "content"}}{{/block}}
{{#block "footer"}}
    {{sub "layout/footer"}}
{{/block}}
{{#block "js"}}
    {{sub "layout/js"}}
{{/block}}
</body>
</html>
