{{#extend "layout/layout" menu="index"}}
    {{#replace "header"}}{{/replace}}
    {{#replace "footer"}}{{/replace}}
    {{#replace "content"}}
        {{#if result}}
            {{#if osce}}
                <h1 class="success-message">对不起，您没有合适的考试</h1>
                <img src = "/assets-node/img/fail.png" class = "success-img"/>
                <a href="/passport/auth/weixin?type={{type}}" class = "relogin">重新登录</a>
                <div class = "foot">建智慧医教，为明日良医</div>
            {{else}}
                <h1 class="success-message">出错了，请重新登录</h1>
                <img src = "/assets-node/img/fail.png" class = "success-img"/>
                <a href="/passport/auth/weixin?type={{type}}" class = "relogin">重新登录</a>
                <div class = "foot">建智慧医教，为明日良医</div>
            {{/if}}
            
        {{else}}
            {{#if help}}
                <h1 class="success-message">正在登录...</h1>
            {{else}}
                <h1 class="success-message">登录成功,正在跳转...</h1>
            {{/if}}
            <img src = "/assets-node/img/success.png" class = "success-img"/>
            <div class = "foot">建智慧医教，为明日良医</div>
        {{/if}}

       
    {{/replace}}
    {{#append "css"}}
        
    {{/append}}
    {{#append "js"}}
    <script language="JavaScript" type="text/javascript">
        <!--JS代码位置-->

        <!--扫码成功后，web网页调用此接口设置传递出去的值 参数为json字符串,包含-->
        <!--result:扫码结果，"1"为成功，"0"为失败-->
        <!--token：登陆成功后的token-->
        <!--user_id：登陆成功后的用户id-->
        <!--name：登陆成功后的账户中文名-->
            function confirmQRCodeResult(jsonstr){
                  ;

            }

        <!--提交成绩时，智能产品调用此接口通知web已经提交成绩-->
            function getSubmitScoreState(jsonstr)
            {
              //接收到已经提交成绩后的处理代码
              alert(jsonstr);//删除
            }
        
    </script>
    <script>
        var  _setupWebViewJavascriptBridge = function(callback){   //ios桥函数
            if (window.WebViewJavascriptBridge) { return callback(WebViewJavascriptBridge); }
            if (window.WVJBCallbacks) { return window.WVJBCallbacks.push(callback); }
            window.WVJBCallbacks = [callback];
            var WVJBIframe = document.createElement('iframe');
            WVJBIframe.style.display = 'none';
            WVJBIframe.src = 'wvjbscheme://__BRIDGE_LOADED__';
            document.documentElement.appendChild(WVJBIframe);
            setTimeout(function() { document.documentElement.removeChild(WVJBIframe) }, 0)
        };

        var invokeNative = function(methodName, param, callback) {
            _setupWebViewJavascriptBridge(function(bridge) {

                bridge.callHandler(methodName, param, function responseCallback(responseData) {
                    callback && callback(responseData);
                });
            });
        };
        onload=function(){
            if('{{result}}'==''){
                var userStr = JSON.stringify({{json user}});
                if({{type}}==2){

                    invokeNative('InformUserInfo',{{json user}})
                }else if({{type}}==3){
                    setTimeout(function(){
                        window.location.href = "http://misinfo.misrobot.com/passport/auth/weixin?type=3"
                    },5000)
                }else if({{type}}==4){
                    setTimeout(function(){
                        confirmQRCodeResult(userStr);
                    },1000)
                    
                }
            }else{
               if({{type}}==3){
                    setTimeout(function(){
                        window.location.href = "http://misinfo.misrobot.com/passport/auth/weixin?type=3"
                    },5000)
                }
            }
                
        }
        
        
    </script>
    {{/append}}
{{/extend}}
